.button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px #00000033;
    color: $one;
    font-weight: 700;
    font-size: 15px;
    background-color: $white;
    cursor: pointer;
    
}