.header {
    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $one;
        height: 10vh;

        @media (max-width: 999px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            height: 35vh;           
        }

        &__title {
            font-size: 30px;
            font-weight: 700;
            color: $white;
            cursor: pointer;

            @media (max-width: 999px) {
                font-size: 30px;
            }
        }

        &__nav {
            display: flex;
            justify-content: space-around;
            align-items: center;                       
            width: 38%;
            padding: 12px;

            @media (max-width: 999px){
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                width: 47%;
            }

            &__li {
                color: $white; 
                font-size: 16px;
                padding-bottom: 5px;  
                cursor: pointer;   
                
                @media (max-width: 999px){
                    padding-bottom: 10px;
                }
            }
        }

        
    }

    
}