.container {
    display: flex;
    justify-content: center;
    align-items: center;

    &__subtitle {
        text-align: center;       
        color: $sub-title;
        font-size: 20px;
        font-weight: 500;        
        margin: 5px 0px;
        width: 49%;

        @media (min-width: 1024px) and (max-width: 1200px){
            width: 59%;        
        } 
    
        @media (min-width: 769px) and (max-width: 1024px){
            font-size: 23px;
            width: 70%;         
        }
        
        @media (min-width: 481px) and (max-width: 768px){
            font-size: 22px;
            width: 57%;        
        }
    
        @media (min-width: 320px) and (max-width: 480px){
            font-size: 19px;
            width: 90%;        
        }
    
        @media (min-width: 200px) and (max-width: 321px){
            font-size: 15px;
            width: 90%;   
        }
    }
}
