/*|---------------| Color Schema|---------------*/
$one: #BADC58;
$two: #2D3561;
$three: #FAFAFC;
$white: #FFFFFF;
$background: #707070;
$background-secondary: #f0f2f5;
$title: #1D164D;
$sub-title:#9E9BAF;
$text: #B4B4B4;
